<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootsrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Hikaru's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Hikaru's Blog</a></h1>
        <div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h3><a href="">{{ post.title }}</a></h3>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>
