<html>
    <head>
        <title>Hikaru's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Hikaru's Blog</a></h1>
        <div>

        <div>
            <p>published: 11.06.2019, 23:47</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. こんにちは! よろしくお願いします!</p>
        </div>

        <div>
            <p>公開日: 2019/06/11, 23:47</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p>こんにちは! よろしくお願いします!</p>
        </div>
    </body>
</html>
